<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rag.ragserver.mapper.KnowledgeBasesMapper">

    <resultMap id="BaseResultMap" type="com.rag.ragserver.domain.KnowledgeBases">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="ownerUserId" column="owner_user_id" />
            <result property="workspaceId" column="workspace_id" />
            <result property="visibility" column="visibility" />
            <result property="description" column="description" />
            <result property="systemPrompt" column="system_prompt" />
            <result property="metadata" column="metadata" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,owner_user_id,workspace_id,visibility,description,
        system_prompt,metadata,created_at,updated_at,is_deleted
    </sql>
</mapper>
