import logging
import os

# uvicorn --workers 2 --port 8888 --host 0.0.0.0 main:app

os.environ["NUMEXPR_MAX_THREADS"] = "2"

# RabbitMQ configuration - Please set these environment variables
os.environ["RABBITMQ_HOST"] = "127.0.0.1"
os.environ["RABBITMQ_PORT"] = "5674"
os.environ["RABBITMQ_USERNAME"] = "your_username"
os.environ["RABBITMQ_PASSWORD"] = "your_password"

# MinIO configuration - Please set these environment variables
os.environ["MINIO_ENDPOINT"] = "127.0.0.1:19000"
os.environ["MINIO_ACCESS_KEY"] = "your_access_key"
os.environ["MINIO_SECRET_KEY"] = "your_secret_key"

# Milvus configuration - Please set these environment variables
os.environ["MILVUS_URI"] = "http://127.0.0.1:19530"
os.environ["MILVUS_TOKEN"] = "username:password"

logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s'
)

from fastapi import FastAPI
from services.chat import chat_service
from dependencies import app_lifespan

app = FastAPI(root_path="/rag", lifespan=app_lifespan)
app.include_router(chat_service)
